.top-selling {
  margin-top: 200px;
}

.heading {
  text-align: center;
  font-family: "poppins";
  color: #5e6282;
  font-size: 20px;
  text-transform: uppercase;
}

.top-selling .punchline {
  text-align: center;
  font-size: 50px;
  letter-spacing: normal;
  margin-top: 0px;
}

.destination-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.last-card{
  position: relative;
}

.spiral-decore{
  position: absolute;
  right: -15%;
  top: 30%;
  z-index: -1;
}
